@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.AboutSection) Model.Content;
    var settings = Model.Settings as ContentModels.AboutSettings;
}

<link href="~/css/aboutSection.css" rel="stylesheet" />
<link href="~/css/requestForm.css" rel="stylesheet" />

<section class="about">
    @if (content.Image != null)
    {
        <div class="about-image-container">
            <img class="about-image" src="@(content.Image.Url())" alt="@content.Image.Name" />
            @if (content.SubTitleImage != null)
            {
                <span class="about-img-subtitle c-sub-img">@content.SubTitleImage</span>
            }
        </div>
    }
    <div class="about-content">

        @if (settings!.ShowHeader)
        {
            <p class="c-label" style="color:@settings!.HeaderColor">@content.Header</p>
        }
        @if (settings!.ShowTitle)
        {
            <h2 class="about-spacing" style="color:@settings.TitleColor">@content.Title</h2>
        }
        <div class="rte-content">
            @if (content.Quote != null)
            {
                <div class="about-quote c-quote">
                    @content.Quote
                </div>
            }
            <div class="about-rte c-bt">
                @Html.Raw(content.Text)
            </div>
        </div>
    </div>
    @if (settings.ShowRequestForm)
    {
        <div class="about-form-container">
            <partial name="Partials/Forms/_RequestForm" />
        </div>
    }
</section>